<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--  include .partials/head.ejs-->
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- include .partials/header.ejs -->
        <h1>Fundamental Human Movements for Kids</h1>
        <!-- banner image -->
      </header>
      <!-- main for section, article of cards, buttons cards -->
      <main>
        <!-- section for page heading, description, and add button -->
        <section>
          <h2>Welcome</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <nav>
            <!-- add new movement button -->
            <a href="/movements/new">Add New Movement</a>
          </nav>
        </section>

        <article class="">
          <!-- card div for each movement -->
          <div class="main">
            <% for (let i = 0; i < movements.length; i++) { %>
            <!-- cards -->
            <div class="card">
              <!-- for name -->
              <div class="row">
                <div class="name">
                  <!-- name of movement -->
                  <%=movements[i].name %>
              </div> </br>
            </div>
              <!-- for image  -->
              <div class="row">
              <div class="image">
                <!-- image -->
                <img src="<%=movements[i].image %>" alt="movement" class="movement-images">
              </div>
              </div>
              <!-- for example movement -->
              <div class="row">
                <div class="example">
                <!-- example movement -->
                Example: <%=movements[i].example %>
                </div>
              </div>
              <!-- for more info button -->
              <div class="row">
                <div class="button">
                  <!-- link to show page for each movement -->
                  <form action="/movements/<%=movements[i].id %>">
                    <input type="submit" name="" value="More Info">
                  </form>
              </div>
            <!-- Delete form here -->
              <div class="button">
                <!-- link to delete route -->
                <form action="/movements/<%=movements[i].id %>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE"/>
                 </form>
              </div>
          <!-- end of main div  -->
          </div>
        </div>
          <% } %>
        <!-- end of card div -->
        </div>
        </article>
      </div>
      <!-- end of main -->
      </main>
      <!-- footer -->
      <footer>
        <!-- include ./partials/footer.ejs -->
        <!-- contact -->
        <!-- About -->
      </footer>
    <!-- end of container div -->
    </div>
  </body>
</html>
