<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Show</title>
  </head>
  <body>
    <!-- container for everything inside the body -->
    <div class="container">
      <header>
        <!-- same header for each page - partials -->
        <h1>Fundamental Human Movements for Kids</h1>
      </header>
      <!-- Main  -->
      <main>
        <h2>Movement Details</h2>
        <!-- name -->
        <div class="name-show">
          Name: <%=movements.name %>
        </div> </br>
        <!-- image -->
        <div class="image">
          <img src="<%=movements.image%>" alt="movement" class="movement-show">
          Image:
        </div> </br>
        <!-- info -->
        <div class="info">
          Info: <%=movements.info %>
        </div> </br>
        <!-- examples -->
        <div class="examples">
          More Examples: <%=movements.moreExamples %>
        </div> </br>
        <!-- edit button -->
        <div class="edit-button">
          <form action="/movements/<%=movements.id%>/edit">
            <input type="submit" name="edit" value="Edit">
          </form>
        </div> </br>
        <!-- back to index page -->
        <div class="back-button">
          <form action="/movements">
            <input type="submit" name="return" value="Back to Movements">
          </form>
        </div>
      </main>
      <!-- footer -->
      <footer>

      </footer>
    <!-- container end  -->
    </div>
  </body>
</html>
